@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin:2.5% 0px;
    background-color: black;
    display: grid;
    font-family: 'Roboto';}

.sidebar p,
.siderbar div {
    min-height: 0px;
    margin: 0px;
}
.pageLayout {
    justify-content: center;
    margin: 0 auto;
    height: 90vh;
    /* width: 90vw; */
    width: 1400px;
    display: grid;
    grid:
    [start1]"sidebar navbar" 1.5fr[end1]
    [start2]"sidebar header" 1.75fr[end2]
    [start3]"sidebar main" 12fr [end3]
/ 1fr 4fr;
}

.sidebar{
background-color: rgb(3, 98, 240);
grid-area: sidebar;
display: grid;
grid-template-rows: repeat(14,1fr);
grid-template-columns: 2fr 3fr;
color: white;
font-weight: bold;
}

.sidebar > div {
    grid-column: span 2;
    display: grid;
    margin: 0px;


}

.sidebar > div >div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;
    margin: 0px;
}

.sidebar div div:hover {
    transform: scale(1.15) translateX(10px);
    transition: transform 1.5s;
    cursor: grab;
}

.sidebar div > img {
    justify-self: center;
    margin: 0px;
    filter: brightness(0) invert(1);
    margin-left: 10px ;


}
.sidebar > div >div >  p {
    margin-left: 10px;
}

.sidebarHeader {
    grid-row: 1/2;
    font-size: 2rem;
    font-weight: bold;
}

.sidebarMain {
    grid-row: 3 / 7;
    grid-template-rows: repeat(6,1fr);
}
.sidebarSettings {
    grid-row: 8 / 10;
    grid-template-rows: repeat(3,1fr);

}

.navbar {
background-color: rgb(249, 252, 249);
grid-area: navbar;
display: grid;
grid-template-columns: 7fr 3fr;
}

.searchbar {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.searchbar input {
justify-self:stretch;
height: 30px;
border-radius: 10px;
border: 0px;
background-color: rgb(211, 209, 209);
order: 1;
font-size: 1rem;
text-align: center;
}

.searchbar div {
    order: 2
}

.searchbar input:focus:not(:placeholder-shown) ~ img {
    transform: scale(1.5);
    transition: transform 1s;
}

.searchbar input:focus:not(:placeholder-shown) ~ img:hover {
    cursor: grab;
}

.navButtons {
    /* grid-template-columns: repeat(7,1fr); */
    display: grid;
    grid-auto-flow: column;
    grid: 1fr
    / 1fr 1fr 2.5fr 1fr;
    align-items: center;
    justify-items: center;
}

.navButtons img {
    height: 35px;
    width: 35px;
}

.navButtons img:first-of-type {
    /* grid-area: notifications; */
}

.navButtons img:last-of-type {
    /* grid-area: pfp; */
}
.navButtons p {
    /* grid-area: name; */
    font-weight: bold;
}

.navButtons > *:hover {
        transform: scale(1.15);
        transition: transform 1.5s;
        cursor: grab;
    }

.navButtons p:hover {
        transform: rotate(360deg);
        transition: transform 1s;
        cursor: grab;
    }

.header {
/* background-color: grey; */
background-color: white;
grid-area: header;
display: grid;
grid-template-columns: 0.5fr 6fr 2.5fr 4fr 0.5fr ;
}

.greeting {
    display: grid;
    grid-template: 1fr 1fr / 1fr 5fr;
    align-items: center;
    justify-items: center;
    column-gap: 15px;

}

.greetingPfp {
    grid-row: span 2;
    height: 75px;
    width: 75px;
}

.greeting p:first-of-type {
    align-self:self-end ;
    margin: 0; 
    justify-self: left;
}
.greeting p:last-child {
    align-self: self-start;
    margin: 0;
    justify-self: left;
    font-size: 1.25rem;
    font-weight: bold;
}

.headerButtons {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 30px;
}

.headerButtons > div {
    padding: 12.5px 20px;
    border-radius: 20px;
    background-color: rgb(3, 98, 240);
    text-align: center;
    cursor: grab;
}

.main {
background-color: brown;
grid-area: main;
}